<DOCTYPE !html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/style_list.css" media="screen, print">
    <meta charset ="utf-8">
    <title>Index</title>
</head>
<body>
    <div id="header">MENU</div>
    <br>
    <div id="menutitle"> Please Select an option</div>
    <div id="links">
        <a href="/mentors">Show all mentors</a>
        <br>
        <a href="all-school">Show all school with mentors
        <br>
        <a href="mentors-by-country">Count mentors by country
        </div>
</body>