<DOCTYPE !html>
<head>
   <link rel="stylesheet" type="text/css" href="/static/css/style_list.css" media="screen, print">
   <meta charset ="utf-8">
   <title>Index</title>
</head>
<body>
   <div class="header">MENU</div>
   <br>
   <div class="menutitle"> Please Select an option</div>
   <div class="links">
      <a href="/mentors">Show all mentors</a>
      <br>
      <a href="all-school">Show all school with mentors</a>
      <br>
      <a href="mentors-by-country">Count mentors by country</a>
      <br>
      <a href="/contacts">Show all schools with mentors</a>
      <br>
      <a href="/applicants">Show applicants</a>
      <br>
      <a href="/applicants-and-mentors">Show applicants with mentors</a>
   </div>
</body>